
.leftside{
    margin: 0px;
    padding: 0px;
    background-color: #570885;
    min-height: 100vh;
    height: 100%;
}
.leftside ul{
    padding-top: 10px;
      list-style: none;
      color: white;
      
}
.leftside ul li{
    padding: 10px 0px;
}