.hotheading{
    margin-top: 15px;
    color:rgb(87, 8, 133);
    margin-bottom: 30px;
  }
h3{
    padding: 0px 20px;
}  

.btn2{
    background-color:rgb(216, 212, 212);
    border-radius: 50%;
}
button:focus{
    outline: none;
}
.colorPurple{
    color:rgb(87, 8, 133);
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .reduceSize {
    font-size: 24px;
    }
  }

