.main{
  height: 100vh;
}
.col-lg-10{
  padding: 20px;
  background-color: rgb(221, 219, 219);
}
.col-lg-2{
  padding: 0px;
}

.margin10{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
.margin10 p{
  margin: 0px;
}
.colorBlue{
  color:purple;
}
.padding0{
  padding: 0px;
}
.margin10 .row{
  margin-top: 20px;
}
.margin10 .colorGray{
  background-color: rgb(209, 209, 209);
  height: 200px;
}
.btnSection{
  margin-top: 30px;
}
.padding10{
padding: 20px;

}
.colorPink{
  color: rgb(155, 64, 79);
}
.btn-pink{
  background-color: palevioletred;
}
table{
  padding: 0ps 10px;
}

th{
  padding: 10px 20px !important;
  line-height: 2.5;
  
}
.flex1{
  display: flex;
  
}

.flex1 .firstForm{
  margin-right: 30px;
}
.flex2 {
  display: flex;
  flex-direction: column;
} 

.shadow{
  border-radius:50% ;
  box-shadow: 0px 0px 5px black;
}

.flex3{
  display: flex;
  flex-direction: row;
}



@media only screen and (max-width: 760px) {
  .flex3 .Flexitem{margin: 20px 0px 20px 20px
    
  }
}



/* hot analytics */

.hotheading{
  margin-top: 15px;
  color:rgb(87, 8, 133);
  margin-bottom: 0px;
}
h3{
  padding: 0px 20px;
}  

.btn2{
  background-color:rgb(216, 212, 212);
  border-radius: 50%;
}
button:focus{
  outline: none;
}
.colorPurple{
  color:rgb(87, 8, 133);
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .reduceSize {
  font-size: 24px;
  }
}

/* website */

.Dflex{
  display: flex;
  flex-direction: row;
}

.item{
  margin: 0px 15px;
}

.item h5{
  padding-top: 5px;
}

.navbar{
  padding: 15px 0px !important;
  background-color:  rgb(87, 8, 133);
  color: white;
  margin: 0px -20px ;
}

.icon:hover{color: rgb(87, 8, 133) ;
  background-color:white;
}
.marginRight10{
  margin-right: 20px;
  margin-bottom: 20px;
}


/* clipboard */
@media only screen and (max-width: 600px){
  .responsiveMarginTop10{
  margin-top: 30px;
}
}

.lineHeight2{
  padding: 15px 0px;
}
.flex3 .Flexitem:hover{
  background-color: white;
  color:purple;}


.width200{
  font-size: 18px;
  width: 200px;
  margin: 0px 10px 0px 10px;
  padding-top: 5px;
}


.Flexitem{
  border: 2px solid white;
  border-radius: 50%;
  padding: 15px;
  margin: 0px 10px; 
} 
.flexLink{
   display: flex;
}
.bgpurple{
  background-color:rgb(87, 8, 133);
  
}
.bgpurple .headingAna{
  color: white;
  padding-left: 20px;
  margin: 0px;
  line-height: 1.5;
}
.padding10{
  padding: 10px;
}

.iconPack{
display: flex;

}

@media only screen and (min-width: 600px){
  .iconPack{
    display: flex;
    
    }
}

@media only screen and (max-width: 600px){
  .iconPack{
    justify-content: space-around;
    }
  .LIST{
    margin: 10px 0px;
  }
}


.IconList{ 
border: 2px solid white;
border-radius: 50%;
padding: 10px;
margin:0px 10px;
}

.bgPurple{
  background-color:rgb(87, 8, 133) ;
  padding: 20px 0px;
}
.colorWhite{
  color: white;
  margin-left: 20px;
}

.lineHeight25{
  margin-top:5px;
  line-height: 5;
}
.zero{
  margin: 0px;
  padding: 0px;
}
.pad0{
  margin: 0;
}

/* Model notes */

.flex11{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.flex11 .flexItem11{
  padding: 10px 50px;
  color: aqua;
  background-color:rgb(219, 92, 113);
} 
.flex11 .flexItem11:focus{
  cursor: pointer;
}

.react-tabs__tab-list{
  padding: 0;
}
.containerPadding{
  padding: 0px 30px;
}

/* Campaigns */

@media only screen and (max-width: 1280px){
.lineHeight12{
 line-height: 1.5;
}
}

.width300{
width: 250px;
}

.bgcolorwhite{
  background-color: white;
  padding: 15px;
}